
.products {
    border-top: 1px solid #ddd;
}

.products>li {
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
}

.row {
    position: relative;
    overflow: auto;
    width: 100%;
    height: auto;
}

.col,
.quantity,
.remove {
    float: left;
}



.col.left {
    width: 70%;
    display: flex;
}

.name_cart a{
    text-decoration: none;
    color: black;
}

.col.right {
    width: 30%;
    position: absolute;
    right: 0;
    top: calc(50% - 30px);
}

.detail {
    padding: 0 0.5rem;
    line-height: 2.2rem;
}

.detail .name {
    font-size: 1.2rem;
}

.detail .description {
    color: #7d7d7d;
    font-size: 1rem;
}

.detail .price {
    font-size: 1.2rem;
}

.quantity,
.remove {
    width: 50%;
    text-align: center;
}

.remove svg {
    width: 60px;
    height: 60px;
}

.quantity{
    display: flex;

}

.quantity>input {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    /* left: calc(50% - 30px); */
    background: #fff;
    border: 2px solid #ddd;
    color: #7f7f7f;
    text-align: center;
    font: 600 1.3rem Helvetica, Arial, sans-serif;
}

.quantity>input:hover,
.quantity>input:focus {
    border-color: #000000;
}

.close {
    fill: #7d7d7d;
    transition: color 150ms linear,
        background-color 150ms linear,
        fill 150ms linear,
        150ms opacity linear;
    cursor: pointer;
}

.close:hover {
    fill: #000000;
}

.remove-icon{
    height: 50px;
    width: 40px;
    padding: 10px;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width:850px){
    .thumbnail img{
        height: 150px;
        width:110px
    }
    .name_cart a {
        text-decoration: none;
        color: black;
    }
    .col.right {
        display: flex;
        flex-direction: column;
        width: auto;
        top: 30px;
    }
    .name_cart a {
        font-size: 0.9rem;
    }
    .quantity,
    .remove {
        width: auto;
        text-align: center;
    }
    .detail .price {
        font-size: 1rem;
    }

    .detail .description {
        /* display: none; */
    }

    .close{
        height: 40px;
        width: 40px;
    }

    .quantity>input {
        height: 40px;
        width: 40px; 
        margin: 0;
        margin-top: 5px;
        margin-bottom: 5px;       
    }
    .quantity{
        /* display: flex; */
        flex-direction: column;
    }
    .button-133{
        padding: 0;
        width: 40px;
    }
    .remove-icon{
    height: 4px;
    padding: 7px;
    }
}



/* CSS */
.button-133 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 3px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f111195;
  cursor: pointer;
  display: inline-block;
  /* font-family: "Amazon Ember",sans-serif; */
  font-size: 25px;
  font-weight: 700;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 40px;
}

.button-133:hover {
  background-color: #f7fafa;
}

.button-133:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}
