.admin-footer-container{
    height: 40px;
    /* position: relative; */
    margin-top: 20px;
    background-color: rgb(9, 20, 45);;
    bottom: 0;
    width: 100%;
}

.admin-footer{
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
}