.main-about{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

.sub-about{
    padding-bottom: 40px;
    display: flex;
}

.sub-about img{
    height: 300px;
    border-radius: 10px;
    border: 2px solid black;
}

.sub-about p{
    padding-left: 20px;
    padding-top: 50px;
}

@media screen and (max-width:1250px){
    .main-about{
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media screen and (max-width:1000px){
    .main-about{
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (max-width:800px){
    .main-about{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .sub-about{
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
    }

    .sub-about img{
        height: 420px;
        width: 90%;
        margin: 20px;
        border-radius: 10px;
        border: 2px solid black;
    }

    .sub-about p{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        font-size: 1rem;
    }
}

