.row-checkout {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  flex-direction: row;
  /* -ms-flex-wrap: wrap; IE10 */
  /* flex-wrap: wrap; */
  /* margin: 0 -16px; */
  margin-top: 65px;
  padding: 0;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
  /* border: 1px solid lightgrey; */
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
  margin-top: 30px;
}

.container-checkout {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

/* .row-checkout input[type=text] {
  width: 100%;
  /*margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px; 
   height: 45px;
    /* float: right; 
    /* width: 500px; 
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid rgb(0, 0, 0);
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    margin: 10px;
} */

.checkout-form {
  width: 900px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* margin-top: 20px; */
  border: 1px solid lightgrey;
}

.cart-products-details{
  margin-left: 80px;
}

.table-checkout {
  /* border: 2px solid rgb(0, 0, 0); */
  width: 380px;
  height: 100px;
}

th {
  border-bottom: 1px solid rgb(93, 93, 93);
  /* margin-left:15px; */
  font-size: 0.9rem;
  font-weight: 600;
  /* background-color: rgb(0, 0, 0); */
  color: rgb(0, 0, 0);
  height: 35px;
}

td {
  text-align: center;
  padding: 8px;
}

.add-suplier-sub12 {
  margin-right: 50px;
  width: 400px;
  padding: 20px;
}

.add-suplier-sub18 {
  width: 350px;
}

label {
  margin-bottom: 7px;
  display: block;
}

.icon-container {
  margin-bottom: 14px;
  padding: 7px 0;
  font-size: 24px;
}

.pd {
  padding-left: 10px;
}

.cart-products-details {
  padding: 0;
}

.btn {
  font-size: 1.3rem;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  width: 100%;
  background-color: rgba(154, 150, 150, 0.527);
}

.btn:hover {
  background-color: black;
  color: white;
}

span.price {
  float: right;
  color: grey;
}

.container-checkout-cart {
  background-color: #ffffff;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.Mui-disabled {
  color: black !important;
  -webkit-text-fill-color:rgba(0, 0, 0, 1)!important;
}

.container-checkout-cart p {
  padding: 3px;
}

.box-sub-btn {
  display: flex;
  justify-content: space-between;
}

.button-131 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  /* font-family: "Amazon Ember", sans-serif; */
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 200px;
}

.button-131:hover {
  background-color: #000000;
  color: white;
}

.button-131:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}

.button-1311 {
  margin-left: 10px;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  /* font-family: "Amazon Ember", sans-serif; */
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.button-1311:hover {
  background-color: #000000;
  color: white;
}

.button-1311:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}



.button-111 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  /* font-family: "Amazon Ember", sans-serif; */
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 200px;
  display: none;
}

.button-111:hover {
  background-color: #000000;
  color: white;
}

.button-111:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}

.drawer {
  width: 1000;
}

.add-suplier-sub11 {
  /* margin-right: 50px; */
  width: 400px;
  padding: 20px;
}
.add-suplier-sub11 .box p {
  padding-bottom: 10px;
  font-weight: 600;
}

.add-suplier-sub11 .box {
  margin: 10px;
  margin-top: 20px;
}

.add-suplier-sub11 .box-qty {
  display: flex;
  justify-content: space-between;
}

.discount-details{
  margin: 10px;
  padding: 10px;
}


.discount-details p{
  font-size: 0.8rem;
  color: dimgrey;
}

.promotion{
  padding: 10px;
  margin: 10px;
}

.promotion input{
  width: 150px;
}

.checkout-btn{
  margin-top: 30px ;
}

.echeckout{
  width: 100%;
  margin: 10px;
}



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row-checkout {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }

  .checkout-form {
    width: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin-top: 20px;
  }

  .button-111 {
    width: 150px;
  }

  .add-suplier-sub11 {
    margin-right: 0;
    width: auto;
  }
  .add-suplier-sub11 .box p {
    padding-bottom: 10px;
  }
  .add-suplier-sub11 .box{
    margin: 10px;
    margin-top: 10px;
  }
  .button-131{
    display: none;
  }

  .button-111{
    display: block;
  }

  .cart-products-details{
  margin-left: 0;
}
}

































